/* styles.css */
:root {
    --primary-color: #2C6CBF;
    --secondary-color: #F0F8FF;
    --text-color: #ffffff;
    --light-text: #eceaeab0;
    --border-color: #E0E0E0;
    --card-bg: #086afd;
    --background: #063df0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Start*/
header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 15px 0;
}

header .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .row .logo {
    height: 40px;
}

header .container .row .btn-topo {
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    border-radius: 25px;
    padding: 8px 15px;
    border: 1px solid var(--border-color);
    position: relative;
}

header .container .row .btn-topo i.bi-geo-alt-fill {
    left: -20px;
    position: absolute;
    color: rgba(66, 66, 66, 0.671);
    font-size: 15px;
}

header .container .row .btn-topo input {
    border: none;
    background: transparent;
    outline: none;
    width: 400px;
}

header .container .row .btn-topo button {
    background: var(--primary-color);
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

header .container .row .login {
    display: flex;
    align-items: center;
    gap: 8px;
}

header .container .row .login i {
    font-size: 30px;
    color: var(--primary-color);
}

header .container .row .login a {
    color: inherit;
}

header .container .row .login button {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
header .container .row .login button:hover {
    background: var(--primary-color);
    color: white;
}

/* Main Content */
main {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

main .container-topo {
    flex: 2;
}

main .container-topo .container .local-txt h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

main .container-topo .container .row {
    display: flex;
}

main .container-lateral {
    flex: 1;
}

/* Weather Info Section */

.container-topo .container .row .temp-info {
    width: 50%;
    background: var(--card-bg);
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

.container-topo .container .row .temp-info .temp-txt h1 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}

.container-topo .container .row .temp-info .temp-txt p {
    color: var(--light-text);
    margin-bottom: 20px;
}

.container-topo .container .row .temp-info .temp-indices {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-topo .container .row .temp-info .temp-indices > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    background: var(--secondary-color);
    border-radius: 10px;
}

.container-topo .container .row .temp-info .temp-indices h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.container-topo .container .row .temp-info .temp-indices .value {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

/* Info Day Section */
.container-topo .container .row .info-day {
    width: 50%;
    background: var(--card-bg);
    padding: 20px 10px;
    margin-bottom: 20px;
}

.container-topo .container .row .info-day .card-days {
    display: flex;
    gap: 15px;
}

.container-topo .container .row .info-day .card-days > div {
    width: 24%;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.container-topo .container .row .info-day .card-days > div  img {
    width: 50px;
}

.container-topo .container .row .info-day .card-days h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--secondary-color);
}

.container-topo .container .row .info-day .card-days .temp {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
}

.container-topo .container .row .info-day .temp-map {
    width: 100%;
    height: 70%;
    background: var(--card-bg);
}

.container-topo .container .row .info-day .temp-map .card-map {
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-topo .container .row .info-day .temp-map .card-map img {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    opacity: 0.5;
}

.container-topo .container .row .info-day .temp-map .card-map .card-map-txt {
    position: absolute;
    top: 45%;
}

.container-topo .container .row .info-day .temp-map .card-map .card-map-txt a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: 16px;
    color: #063df0;
    transition: 0.2s ease;
}
.container-topo .container .row .info-day .temp-map .card-map .card-map-txt a:hover {
    background-color: #063df0;
    color: var(--secondary-color);
}

/* Section-meio Start*/
.section-meio .container .temp-hora {
    margin: 30px 0 15px 0;
}

.section-meio .container .temp-hora p {
    font-size: 18px;
    color: var(--secondary-color);
}

.section-meio .container .row {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
}

.section-meio .container .row .grafico {
    background: var(--card-bg);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    min-height: 200px;
}

.section-meio .container .row .indices-click {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.section-meio .container .row .indices-click > button {
    background: var(--card-bg);
    border: none;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: all 0.3s;
}

.section-meio .container .row .indices-click > button:hover {
    transform: translateY(-2px);
    color: var(--background);
    background: var(--border-color);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.section-meio .container .row .indices-click h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--light-text);
}

.section-meio .container .row .indices-click .value {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}
/* Section-meio End*/

/* Section-fim Start*/
.section-fim {
    padding: 20px;
}

.section-fim .container {
    margin-top: 30px;
    background-color: var(--card-bg);
}

.section-fim .container .row {
    display: flex;
    justify-content: center;
}

.section-fim .container .row .card-noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;
}
.section-fim .container .row .card-noticias h1 {
    text-align: center;
    margin: 15px;
}

.section-fim .container .row .card-noticias .noticia {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--card-bg);
    border-radius: 15px;
    padding: 30px;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    width: 300px;
    text-align: center;
}

.section-fim .container .row .card-noticias .noticia img {
    width: 30%;
    border-radius: 4px;
}

.section-fim .container .row .card-noticias .noticia .txt-noticia-g1 p,
.section-fim .container .row .card-noticias .noticia .txt-noticia-google p,
.section-fim .container .row .card-noticias .noticia .txt-noticia-youtube p {
    font-size: 16px;
    color: var(--secondary-color);
}
/* Section-fim End*/

/* Cards Laterais */
.container-lateral .container .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-lateral .container .cards .card {
    background: var(--card-bg);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.container-lateral .container .cards .card  .txt-card h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--text-color);
}

.container-lateral .container .cards .card  .infor-card {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.container-lateral .container .cards .card  .img-card {
    background: var(--secondary-color);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-lateral .container .cards .card  .img-card i {
    font-size: 24px;
    color: var(--primary-color);
}

.container-lateral .container .cards .card  .txt-infos h1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text-color);
}

.container-lateral .container .cards .card  .txt-infos p {
    font-size: 14px;
    color: var(--light-text);
    line-height: 1.4;
}

/* Footer */
footer {
    background: var(--card-bg);
    padding: 30px 0;
    margin-top: 40px;
    border-top: 1px solid var(--border-color);
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo-footer img {
    height: 50px;
    border-radius: 4px;
}

.txt-direitos p {
    color: var(--secondary-color);
    font-size: 14px;
}

.contact-footer h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-icons a {
    color: blue;
    font-size: 20px;
    transition: color 0.3s;
}

.contact-icons a:hover {
    color: var(--text-color);
}
/* Responsividade Para Tablets*/
@media (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

/* Responsividade para celulares */
@media (max-width: 768px) {

    header .container .row .btn-topo {
        width: 50vw;
    }

    header .container .row .btn-topo input {
        width: 100%;
        height: 30px;
    }

    header .container .row .btn-topo button {
        display: none;
    }

    header .container .row .login {
        flex-direction: column;
        width: 20vw;
    }

    header .container .row .login i {
        font-size: 17px;
    }

    header .container .row .login button {
        width: 100%;
    }

    header .container .row .login button a {
        font-size: 12px;
    }
    
    main {
        flex-direction: column;
        overflow: hidden;
    }
    
    .logo {
        display: none;
    }

    main .container-topo {
        width: 100vw;
    }

    main .container-topo .container {
        padding: 0 5px;
    }

    main .container-topo .container .row {
        flex-direction: column;
    }

    main .container-topo .container .row .temp-info {
        width: 100%;
    }

    main .container-topo .container .row .temp-info .temp-txt {
        text-align: center;
    }

    main .container-topo .container .row .info-day {
        width: 100%;
    }

    main .section-fim .container .row .card-noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .img-logo-footer {
        display: none;
    }

    footer .container .contact-footer h3 {
        margin: 0;
    }

    footer .container .contact-footer .contact-icons {
        justify-content: center;
    }
}