* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    background-color: #0056b3;
}

section {
    margin-top: 20px;
}

section .container {
    max-width: 1200px;
    margin: 0 auto;
}

section .container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header START*/
header {
    width: auto;
    height: 5rem;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 5px;
}

header .container .row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

header .container .row .logo {
    cursor: pointer;
    height: 3rem;
}

header .container .row .btn-topo {
    display: flex;
    align-items: center;
    gap: 3px;
}

header .container .row .btn-topo input[type="search"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
header .container .row .btn-topo input[type="search"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

header .container .row .btn-topo button {
    background: #007bff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
header .container .row .btn-topo button:hover {
    background: #0056b3;
}

header .container .row .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 7px;
    margin: 0 0 0 3px;
}

header .container .row .login i {
    font-size: 20px;
    color: #007bff;
}

header .container .row .login button {
    background: #007bff;
    border: none;
    padding: 6px 7px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

header .container .row .login a {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: 0.1s ease;
}
header .container .row .login a:hover {
    color: #c6d7e9;
}

/* Header END*/

/* Temp Start*/

.temp {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.temp .top {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
}

.temp .city-txt {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.temp .city-txt h1 {
    color: #ffffff;
}

.temp .temp-info-top {
    width: 100px;
    height: 50px;
}

.temp #temp-cel {
    display: flex;
    align-items: center;
    justify-content: start;
}

.temp #temp-cel img {
    width: 50px;
    height: 50px;
}

.temp #temp-cel h1 {
    color: #dddcdc;
    font-size: 16px;
}

.temp .temp-info {
    height: 50px;
}

.temp .temp-info p {
    color: #ffffff83;
    font-size: 10px;
}

.temp .temp-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp .temp-infos h1,p {
    color: #ffffff;
}

.temp .temp-infos h1 {
    font-size: 15px;
    text-align: center;
}

.temp .temp-infos p {
    font-size: 10px;
}

.temp .temp-info-top {
    width: 180px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.temp .temp-info-top .temp-cel {
    display: flex;
    gap: 10px;
}

.temp .temp-info-top .temp-cel i {
    font-size: 2rem;
}

.temp .temp-info-top .temp-cel h1 {
    font-size: 16px;
}

.temp .days-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temp .days-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}

.temp .days-info img {
    width: 40px;
    height: 40px;
}

/* Temp End*/


/* Indicis Start*/
.indices {
    padding: 0 10px;
}

.indices .l-d-icons {
    margin: 5px 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.indices #icon-manha,
.indices #icon-tarde,
.indices #icon-noite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indices #icon-manha,
.indices #icon-tarde,
.indices #icon-noite p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.indices #l-e {
    display: flex;
    flex-direction: column;
}

.indices #tdc,
.indices #txt-l-e,
.indices #temperatura,
.indices #chuva-indice,
.indices #vento-indice,
.indices #umidade-indice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.indices #tdc,
.indices #txt-l-e,
.indices #temperatura,
.indices #chuva-indice,
.indices #vento-indice,
.indices #umidade-indice h1 {
    color: #fcfcfc;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Indicis End*/

/* Noticias Start*/
.noticias .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.noticias .cards .card, .card-1, .card-2 {
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.noticias .cards .card, .card-1, .card-2, a {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.noticias .cards .card, .card-1, .card-2, a:hover {
    color: #007bff;
    transition: 0.5s;
}
/* Noticias End*/

footer {
    width: 100%;
    height: auto;
    border: 1px solid #474545a6;
    background: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer .container {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .container .img-logo-footer img {
    display: none;
}

footer .container .txt-direitos p {
    font-size: 14px;
    color: #666666;
}

footer .container .contact-footer {
    display: flex;
    gap: 16px;
}

footer .container .contact-footer .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

footer .container .contact-footer .contact-icons i {
    font-size: 20px;
    color: #007bff;
}

footer .container .contact-footer .contact-icons .bi-instagram {
    cursor: pointer;
    color: #e4405f;
}
footer .container .contact-footer .contact-icons .bi-instagram:hover {
    color: #c13584;
}

footer .container .contact-footer .contact-icons .bi-whatsapp {
    cursor: pointer;
    color: #25d366;
}
footer .container .contact-footer .contact-icons .bi-whatsapp:hover {
    color: #128c7e;
}

footer .container .contact-footer .contact-icons .bi-youtube {
    cursor: pointer;
    color: #ff0000;
}
footer .container .contact-footer .contact-icons .bi-youtube:hover {
    color: #cc0000;
}